<div  *ngIf="isAdmin">
  <br> 
  <input type="file" class="file-upload" (change)="onFileChange($event)">
  <br>
  <Label> {{isWrongFileTypeLabel}} </Label>
  <br>
  <label>{{evaluatingLabel}}</label>
  <br>

  
<div>
      <button mat-stroked-button (click)="load()" *ngIf='files.length>0 && isWrongFileTypeLabel==""' translate>
        <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
        {{ 'UI.Launch' | translate }}
      </button>

    </div>
  <div class="eca-actions">
    
    <button mat-stroked-button (click)="downloadBackupFile()" *ngIf="hasEvaluationEnded" translate>
      <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
      {{ 'UI.BackupDownloadButton' | translate }}
    </button>
    <button mat-stroked-button (click)="downloadLogsFile()" *ngIf="hasEvaluationEnded" translate>
      <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
      {{ 'UI.LogsDownloadButton' | translate }}
    </button>
  </div>

</div>
<label *ngIf="!isAdmin" >{{ 'UI.ForbiddenAccess' | translate }}</label>
