<div  *ngIf="isAdmin">
  <div class="centered">
  <br> 
  <input type="file" class="file-upload" (change)="onFileChange($event)">
  <br>
  <Label style="color: red;"> <b>{{ErrorLabel}}</b> </Label>
  <br>
  <label style="font-weight: bold;">{{evaluatingLabel}}</label>
 
  <br>

  
<div>
      <button mat-stroked-button color="primary" (click)="load()" *ngIf='files.length>0 && ErrorLabel=="" && evaluatingLabel=="" && stepEvaluation==0' translate>
        <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
        {{ 'UI.Launch' | translate }}
      </button>
 <mat-progress-bar *ngIf='(evaluatingLabel!=""&&(stepEvaluation==1||stepEvaluation==3))'
                      mode="indeterminate">
    </mat-progress-bar>
    </div>
  <div class="centered">
    <button mat-raised-button color="primary" (click)="downloadBackupFile()" *ngIf="stepEvaluation==2" translate>
      <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
      {{ 'UI.BackupDownloadButton' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="downloadLogsFile()" *ngIf="stepEvaluation==4" translate>
      <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
      {{ 'UI.LogsDownloadButton' | translate }}
    </button>
</div>  
</div>
<div class="centered padding">
  <button mat-raised-button color="primary" (click)="updateAllItems()" *ngIf="stepEvaluation==2" translate>
      <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
      {{ 'UI.LaunchPhase2' | translate }}
    </button>
</div>

<div *ngIf="stepEvaluation==0">
  <hr>
  <br>
  {{ 'UI.Description1' | translate }} : 
  <ul>
    <li>{{ 'UI.Description2' | translate }}</li>
    <li>{{ 'UI.Description3' | translate }}</li>
  </ul>
  <hr>
  {{ 'UI.Advices' | translate }}
  <hr>
  {{'UI.Errors' | translate}}
</div>

</div>
<label *ngIf="!isAdmin" >{{ 'UI.ForbiddenAccess' | translate }}</label>
