<div  *ngIf="isAdmin">
  <div class="centered">
  <br> 
  <input type="file" class="file-upload" (change)="onFileChange($event)">
  <br>
  <Label style="color: red;"> <b>{{ErrorLabel}}</b> </Label>
  <br>
  <label style="font-weight: bold;">{{evaluatingLabel}}</label>
 
  <br>

  
<div>
      <button mat-stroked-button color="primary" (click)="load()" *ngIf='files.length>0 && ErrorLabel=="" && evaluatingLabel==""' translate>
        <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
        {{ 'UI.Launch' | translate }}
      </button>
 <mat-progress-bar *ngIf='(evaluatingLabel!=""&&!hasEvaluationEnded)'
                      mode="indeterminate">
    </mat-progress-bar>
    </div>
  <div class="eca-actions padding">
    
    <button mat-raised-button color="primary" (click)="downloadBackupFile()" *ngIf="hasEvaluationEnded" translate>
      <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
      {{ 'UI.BackupDownloadButton' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="downloadLogsFile()" *ngIf="hasEvaluationEnded" translate>
      <i class="bi bi-file-earmark-text" style="margin-right: 4px;"></i>
      {{ 'UI.LogsDownloadButton' | translate }}
    </button>
  </div>

</div>
<label *ngIf="!isAdmin" >{{ 'UI.ForbiddenAccess' | translate }}</label>
</div>
